#environment variables
YOUTUBE_API_KEY = Your API key here
CHANNEL_ID = your channel id here
DATABASE_URL=sqlite:///data/db/transcription.db
POLL_INTERVAL_SECONDS=600
MAX_VIDEOS=2
CHUNK_SECONDS=600
OVERLAP_SECONDS=5
MODEL_SIZE= "small"
DEVICE="cuda"
COMPUTE_TYPE= "int8"